<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matthew M. Dean">

    <title>Skills Check</title>
<style>
table {
  width:400px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
 }
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>

<body>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}
Hello <strong>{{ current_user.character_name }}</strong><br>
<br>

<strong>ALL SHIPS</strong><br><br>
<table id="t01">
<tr><td>EM Armor Compensation<td>{{ searchskill(22806) }}
<tr><td>Explosive Armor Compensation<td> {{ searchskill(22807) }}
<tr><td>Kinetic Armor Compensation<td>{{ searchskill(22808) }}
<tr><td>Thermal Armor Compensation<td>{{ searchskill(22809) }}
<tr><td>Hull Upgrades<td>{{ searchskill(3394) }}
</table>

<br><br><strong>LOGI PILOTS</strong><br><br>
<table id="t01">
<tr><td>Advanced Target Management<td>{{ searchskill(3430) }}
<tr><td>Capacitor Management<td>{{ searchskill(3418) }}
<tr><td>Capacitor Systems Operation<td>{{ searchskill(3417) }}
<tr><td>Remote Armor Repair Systems<td>{{ searchskill(16069) }}
<tr><td>Capacitor Emission Systems<td> {{ searchskill(3423) }}
<tr><td>Sensor Linking<td>{{ searchskill(3433) }}

<tr><td>Acceleration Control<td>{{ searchskill(3452) }}
<tr><td>Afterburner<td>{{ searchskill(3450) }}
<tr><td>Fuel Conservation<td>{{ searchskill(3451) }}
<tr><td>Evasive Maneuvering<td>{{ searchskill(3453) }}
<tr><td>High Speed Maneuvering<td>{{ searchskill(3454) }}
<tr><td>Logistics Cruisers<td>{{ searchskill(12096) }}

<tr><td>Amarr Battleship<td>{{ searchskill(3339) }}
</table>

<br><br><strong>UPGRADE THIS</strong><br><br>
<table id="t01">
<tr><td>Drone Avionics<td>{{ searchskill(3437) }}
<tr><td>Drone Interfacing<td>{{ searchskill(3442) }}
<tr><td>Drone Navigation<td>{{ searchskill(12305) }}
<tr><td>Drones<td>{{ searchskill(3436) }}
<tr><td>Heavy Drone Operation<td>{{ searchskill(3441) }}
<tr><td>Light Drone Operation<td>{{ searchskill(24241) }}
<tr><td>Medium Drone Operation<td>{{ searchskill(33699) }}

<tr><td>Sensor Linking<td>{{ searchskill(3433) }}

<tr><td>Controlled Bursts<td>{{ searchskill(3316) }}
<tr><td>Gunnery<td>{{ searchskill(3300) }}
<tr><td>Large Hybrid Turret<td> {{ searchskill(3307) }}
<tr><td>Large Energy Turret<td> {{ searchskill(3309) }}
<tr><td>Motion Prediction<td>{{ searchskill(3312) }}
<tr><td>Rapid Firing<td>{{ searchskill(3310) }}
<tr><td>Sharpshooter<td>{{ searchskill(3311) }}
<tr><td>Surgical Strike<td>{{ searchskill(3315) }}
<tr><td>Trajectory Analysis<td>{{ searchskill(3317) }}

<tr><td>Acceleration Control<td>{{ searchskill(3452) }}
<tr><td>Evasive Manuvering<td>{{ searchskill(3453) }}
<tr><td>Fuel Conservation<td>{{ searchskill(3451) }}
<tr><td>High Speed Maneuvering<td>{{ searchskill(3453) }}
<tr><td>Navigation<td>{{ searchskill(3449) }}
<tr><td>Warp Drive Operation<td>{{ searchskill(3455) }}

<tr><td>Amarr Battleship<td>{{ searchskill(3339) }}
<tr><td>Galante Battleship<td>{{ searchskill(3336) }}
<tr><td>Caldari Battleship<td>{{ searchskill(3338) }}
<tr><td>Minmatar Battleship<td>{{searchskill(3337) }}

<tr><td>Signature Analysis<td>{{ searchskill(3431) }}
<tr><td>Target Management<td>{{ searchskill(3429) }}
</table>

<br><br>

<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
