<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matthew M. Dean">

    <title>Skills Check</title>
<style>
table {
  width:400px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
 }
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>

<body>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}
Hello <strong>{{ current_user.character_name }}</strong><br>
<br>

<strong>ALL SHIPS</strong><br><br>
<table id="t01">
<tr><td>EM Armor Compensation<td>{{ EMComp }}
<tr><td>Explosive Armor Compensation<td>{{ ExplComp }}
<tr><td>Kinetic Armor Compensation<td>{{ KinComp }}
<tr><td>Thermal Armor Compensation<td>{{ ThermComp }}
<tr><td>Hull Upgrades<td>3394
</table>

<br><br><strong>LOGI PILOTS</strong><br><br>
<table id="t01">
<tr><td>Advanced Target Management<td> 3430
<tr><td>Capacitor Management<td> 3418
<tr><td>Capacitor Systems Operation<td> 3417
<tr><td>Remote Armor Repair Systems<td> 16069
<tr><td>Capacitor Emission Systems<td> 3423
<tr><td>Sensor Linking<td> 3433

<tr><td>Acceleration Control<td> 3452
<tr><td>Afterburner<td> 3450
<tr><td>Fuel Conservation<td> 3451
<tr><td>Evasive Maneuvering<td> 3453
<tr><td>High Speed Maneuvering<td> 3454
<tr><td>Logistics Cruisers<td> 12096

<tr><td>Amarr Battleship<td> 3339
</table>

<br><br><strong>UPGRADE THIS</strong><br><br>
<table id="t01">
<tr><td>Drone Avionics<td> 3437
<tr><td>Drone Interfacing<td> 3442
<tr><td>Drone Navigation<td> 12305
<tr><td>Drones<td> 3436
<tr><td>Heavy Drone Operation<td> 3441
<tr><td>Light Drone Operation<td> 24241
<tr><td>Medium Drone Operation<td> 33699

<tr><td>Sensor Linking<td> 3433

<tr><td>Controlled Bursts<td> 3316
<tr><td>Gunnery<td> 3300
<tr><td>Large Hybrid Turret<td> 3307
<tr><td>Large Energy Turret<td> 3309
<tr><td>Motion Prediction<td> 3312
<tr><td>Rapid Firing<td> 3310
<tr><td>Sharpshooter<td> 3311
<tr><td>Surgical Strike<td> 3315
<tr><td>Trajectory Analysis<td> 3317

<tr><td>Acceleration Control<td> 3452
<tr><td>Evasive Manuvering<td> 3453
<tr><td>Fuel Conservation<td> 3451
<tr><td>High Speed Maneuvering<td> 3453
<tr><td>Navigation<td> 3449
<tr><td>Warp Drive Operation<td> 3455

<tr><td>Amarr Battleship<td> 3399
<tr><td>Galante Battleship<td> 3336
<tr><td>Caldari Battleship<td> 3338
<tr><td>Minmatar Battleship<td> 3337

<tr><td>Signature Analysis<td> 3431
<tr><td>Target Management<td> 3429
</table>

<br><br>

<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
